<div class="chat-main">

  <div class="chat-room">

      <div class="chat-title">Chat about Max </div>
    
      <%= form_with model: @chat, url: chats_path, method: :post, class: 'form', local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
        <div class="content-form">
        <div class="form-input">
          <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
        </div>
        <div><%= f.submit 'Send', class: 'form-submit' %></div>
        </div>
      <% end %>

      <div class="heading">
            <div class="h-date">
              Date/日付
            </div>
            <div class="h-user">
              User/ユーザー
           </div>
            <div class="h-content">
              Message/メッセージ
            </div>
            <div class="h-delete">
              X
            </div>
         </div>

      <% @chats.each do |chat| %>
        <div class="name-date-content">
            <div class="message-date">
              <%= chat.created_at.strftime('%Y/%m/%d') %>
            </div>
            <div class="message-user">
            <%= chat.user.display_name %>
           </div>
            <div class="message-content">
              <%= chat.content %>
            </div>
            <div class="message-delete">
            <% if user_signed_in? && current_user.id == chat.user_id %>
              <%= link_to chat_path(chat), data: { confirm: "Delete this message? 削除してよろしいですか？" }, method: :delete, class: :trash_icon do %>
               <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
            </div>
         </div>
      <% end %>
  </div>
</div> 


