<div class="chat-main">

  <div class="chat-room">
      <% if flash[:alert] %>
          <div class="flash-alert"><%= flash[:alert] %></div>
        <% end %>

      <div class="chat-title"> Manage my comments / <span class="title-jp">投稿の管理</span> </div>

      <%= link_to "Go back to chat room / チャットに戻る", chats_path, class: :back_btn %>
      
      <div class="heading">
            <div class="h-date">
              Date/日付(Time zone GMT+9)
            </div>
            <div class="h-user">
              User/ユーザー
           </div>
            <div class="h-content">
              Message/メッセージ
            </div>
            <div class="h-like">
              <i class="far fa-thumbs-up"></i>
            </div>
            <div class="h-delete">
              X
            </div>
         </div>

      
      <% @chat.each do |chat| %>
        <div class="name-date-content">
            <div class="message-date">
              <%= chat.created_at.strftime('%Y/%m/%d %H:%M') %>
            </div>
            <div class="message-user">
            <%= chat.user.display_name %>
           </div>
            <div class="message-content">
              <%= chat.content %>
            </div>
            <div class="message-like">
            <%#
            unless like presenceしてなかったら
            link_to create action <span class="like-off"><i class="far fa-thumbs-up"></i></span>

            else
            link_to destroy action <span class="like-on"><i class="far fa-thumbs-up"></i></span>
            
            %>
            </div>
            <div class="message-delete">
            <% if user_signed_in? && current_user.id == chat.user_id %>
              <%= link_to chat_path(chat), data: { confirm: "Delete this message? 削除してよろしいですか？" }, method: :delete, class: :trash_icon do %>
               <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
            </div>
         </div>
      <% end %>
      
  </div>
</div> 