<div class="chat-main">
  <div class="chat-room">
   <div class="heading-who">
      Your comment / あなたのコメント
     </div>
    <div class="chat-title"> "<%= @chat.content %>" <br>
    <span id="thumb"> <i class="far fa-thumbs-up"></i> </span><i class="fas fa-times"></i> <%= @chat.liked_users.count %>
    </div>

    

     <div class="heading">
      Who liked this comment? いいねしてくれたユーザー
     </div>

    
     <% @chat.liked_users.each do |user| %>
       <div class="who-main">
         <div class="who-liked">
         <%= image_tag user.image, class: "avatar-chat" if user.image.attached? %> <!-- このcssはindex.css内-->
          <%= user.display_name %>
         </div>
      </div>
      <% end %>
     
    
<%= link_to "Back / 戻る", chat_path(@user.id), class: :back_btn %>
  </div>
 </div> 
