<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <title>Life Of Max</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>


    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    
    <header>
      <div class="header-div">
        <div class="header-left">
          <a class="home-icon" href="/" title="Home/ホーム"> <i class="fas fa-home"></i></a>
          <% unless user_signed_in? %>
          <a class="user-icon" href="/users/sign_up"><span class="header-text">Sign up/新規登録 </span><i class="fas fa-user"></i></a>
          <a class="login-icon" href="/users/sign_in"><span class="header-text">Sign in/ログイン </span><i class="fas fa-sign-in-alt"></i></a>
          <% else %>
          <span class="welcome">Welcome <a href="/users/edit" class="display-name"><%= @user.display_name %></a> </span>
          <a class="logout-icon" href="/users/sign_out"><span class="header-text">Sign out/ログアウト </span><i class="fas fa-sign-out-alt"></i></a>
          <% end %>
        </div>
        <div class=header-right>
          <a class="head_title" href="/">Life of Max <i class="fas fa-paw"></i></a>
        </div>
      
       </div>
    </header>

  
      <%= yield %>
    <footer>
    <div class="footer-div">
    <div class="footer1"><a class="ig-icon" href="https://www.instagram.com/joelfep/"><i class="fab fa-instagram"></i></a></div>
    <div class="footer2"><p class="copyright"> &copy;2021 Life of Max</p></div>
    </div>
    </footer>
  </body>
  
</html>
